<section class="content-wrap flex-c top-space" style="margin-bottom:60px;">
    <div class="container row-x1 flex-sb" style="transform: none;">
        <main class="main-wrap" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="text-center">
                        <h1>404 in spanish</h1>
                        <h3>Page not found</h3>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </main>
    </div>
</section>